.title {
  margin: 50px auto;
  text-align: center; /* Alinea el texto al centro */
}
@media (max-width: 767px) {
  .secondCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
